/build
/dev
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/data-sources/*
!/storage/data-sources/.gitignore
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
# I am not deploying this, so do not include package-lock.json.
package-lock.json
yarn-error.log
.env
